@import url('https://fonts.googleapis.com/css?family=Assistant:300');
   /*font-family: 'Assistant', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
  /*font-family: 'Amatic SC', cursive;*/

body {
    direction: rtl;
    background-color: #f7faee;
}

#container {
    width: 960px;
    margin: 0 auto;
}

/*דף ראשי*/

.page{
    background-color:mediumpurple !important;
}

#mybag {
    position: absolute;
    width: 600px;
    height: 100px;
    margin-right: 200px;
    margin-top: 20px;
    font-size: 50pt;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    z-index:1;
}

#bag {
    background-image: url(../images/bag.png);
    background-repeat: no-repeat;
    background-size: 800px;
    position: absolute;
    width: 800px;
    height: 330px;
    margin-right: 150px;
    margin-top: -40px;
}


#libary1{
    position:absolute;
    width:960px;
    height:430px;
    margin-top:160px;
    margin-right:70px;

}

#menu1 {
    width: 120px;
    height: 7px;
    position: absolute;
    margin-top: 135px;
    margin-right: -60px;
}


#menu {
    margin-top: 155px;
    margin-right: -100px;
    float: right;
    
}

    #menu ul li {
        display: block;
        margin-top: 3px;
        background-color: #58a3a4;
        width: 122px;
        height: 30px;
        text-align: center;
        padding-top: 5px;
    }

        #menu ul li a {
            text-decoration: none;
            color: white;
            font-size: 12pt;
           
        }

        #menu ul li:hover {
            background-color: mediumpurple;
        }
        


#p1{
    position:absolute;
   margin-top:270px;
   margin-bottom:25px;
   margin-right:285px;
   width:300px;
   height:50px;
   padding:4px;
}

#p2 {
    position: absolute;
    margin-top: 340px;
    margin-right: 295px;
    width: 350px;
    height: 50px;
    padding: 4px;
}

/*סוף דף ראשי*/

/*דף שני*/


#gra{
      position: absolute;
    width: 600px;
    height: 100px;
    margin-right: 150px;
    margin-top: 60px;
    font-size: 70pt;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    z-index:1;
}



#tosh{
    background-image: url(../images/tosh.png);
    background-repeat: no-repeat;
    background-size: 800px;
    position: absolute;
    width: 800px;
    height: 330px;
    margin-right: 150px;
    margin-top: -40px;
}



#text{
       position:absolute;
       width:800px;
    height:200px;
    margin-top:140px;
    margin-right:40px;
}

#tal{
    background-image:url(../images/tal.png);
    background-repeat:no-repeat;
    width:200px;
    height:500px;
    background-size:150px;
    position:fixed;
    margin-right:850px;
    margin-top:180px;
}

#actil1 {
    width: 700px;
    height: 500px;
    margin-top: 350px;
    margin-right: 40px;
    margin-bottom: 30px;
    position: absolute;
}



#song {
    position: absolute;
    margin-top: 880px;
    margin-right: 40px;
    margin-bottom: 30px;
    width: 250px;
}

.pisca {
    position: absolute;
    width: 650px;
    height: 100px;
    margin-top: 180px;
    margin-right: 100px;
    font-family: 'Assistant', sans-serif;
    font-size: 14pt;
}

/*סוף דף שני*/

/*דף שלישי*/

#tik {
    position: absolute;
    width: 600px;
    height: 100px;
    margin-right: 150px;
    margin-top: 60px;
    font-size: 70pt;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    z-index: 1;
}

#tikshoret2{
    width:750px;
    height:400px;
    margin-top:350px;
    margin-right:40px;
    margin-bottom:30px;
    position:absolute;
}

#movie {
    position: absolute;
    margin-top: 800px;
    margin-right:80px;
    width:100px;
}
#youtube{
    position:absolute;
    margin-top:850px;
    margin-right:150px;
    margin-bottom:40px;
    border:2px solid black;
    padding:10px;
}

/*סוף דף שלישי*/


/*דף רביעי*/
#int {
    position: absolute;
    width: 600px;
    height: 100px;
    margin-right: 150px;
    margin-top: 60px;
    font-size: 70pt;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    z-index: 1;
}

#kishor {
    position: absolute;
    margin-top: 400px;
    margin-right:40PX;
}

#b1{
    position:absolute;
      width: 200px;
    height: 200px;
    margin-top:450px;
    margin-right:50px;
    
}

#b2 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 500px;
    margin-right: 250px;
}

#b3 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 550px;
    margin-right: 450px;
}

#b4 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 600px;
    margin-right: 650px;
}

#b5 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 750px;
    margin-right: 50px;
}

#b6 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 800px;
    margin-right: 250px;
}

#b7 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 850px;
    margin-right: 450px;
}

#b8 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 900px;
    margin-right: 650px;
    margin-bottom:40px;
}

/*סוף דף רביעי*/




